#bg {
  background-image: url("../0424 position ex1/img/bg.jpg");
  background-size: contain;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.pic {
  position: absolute;
  top: 50vh;
  left: 56vw;
}

.block {
  position: absolute;
  top: 55vh;
  left: 57vw;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  position: absolute;
  visibility: hidden;
  width: 5vw;
  color: grey;
  text-align: center;
  z-index: 99;
  border: 3px green;
  transition: opacity 0.3s;
  opacity: 0;
  width: 120px;
  border-radius: 6px;
  text-align: center;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
